<div class="fixed-top">
  <div class="top-bar">
    <div class="container">
      <div class="col-12 text-right">
        <p><a href="#">University of Ngaoundere</a></p>
      </div>
    </div>
  </div>

  <nav class="navbar bg-light navbar-light navbar-expand-lg">
    <div class="container">
        <a href="" class="navbar-brand"><img src="./../../../assets/images/logo.png" alt="logo"></a>

        <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a routerLink="/" class="nav-link acive">Home</a></li>
          <li class="nav-item"><a routerLink="/sites/memoires" class="nav-link">Memoires</a></li>
          <li class="nav-item"><a routerLink="/sites/bibliotheque" class="nav-link">Bibliotheque</a></li>
          <li class="nav-item"><a routerLink="/sites/students" class="nav-link">Student</a></li>
          <li class="nav-item"><a routerLink="" class="nav-link">About</a></li>
          <li class="nav-item"><a routerLink="" class="nav-link">Login</a></li>
          <li class="nav-item"><a routerLink="/sites/essai" class="nav-link">Try</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>
