<div class="container">
  <div class="row d-flex justify-content-center" style="background-color: wheat;">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <img src="././../../../assets/images/logo_200px.jpg" class="">
      </div>

      <h1 class="titles">Archive des memoires </h1>
      <p class="category">Liste des differents cycles et parcours</p>


    </div>

  </div>
  <div class="row dowdi">

    <div class="col-md-4 shadow">
      <div class="card ">

        <div class="card-header">
          <h1 class="title">Master Recherche</h1>
          <p class="category"></p>
        </div>

        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="btn-group-vertical"> -->
        <button type="button" class="btn btn-outline-primary">Chimie Industrielle et Environnement (CIE)</button>
        <button type="button" class="btn btn-outline-primary">Ingénierie des Equipements Agro-Industriels
          (IEAI)</button>
        <button type="button" class="btn btn-outline-primary">Génie des Procédés (GP)</button>
        <button type="button" class="btn btn-outline-primary">Sciences Alimentaires et Nutrition (SAN).</button>
        <!-- </div>
      </div> -->
      </div>
    </div>

    <div class="col-md-4 shadow">
      <div class="card ">

        <div class="card-header">
          <h2 class="title">Cycle des Ingénieurs</h2>
          <p class="category"></p>
        </div>

        <!-- <div class="col-lg-3 col-md-6 col-sm-6">  -->
        <!-- <div class="btn-group-vertical"> -->

        <a routerLink="/sites/listparcours"><button type="button" class="btn btn-outline-primary">Industrie Agricole et
            Alimentaire (IAA)</button></a>
        <button type="button" class="btn btn-outline-primary">Maintenance Industrielle et Productique (MIP)</button>
        <button type="button" class="btn btn-outline-primary">Chimie Industrielle et Génie de l'Environnement
          (CIGE)</button>


        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>

    <div class="col-md-4">
      <div class="card ">

        <div class="card-header">
          <h2 class="title">Master Professionnel</h2>
          <p class="category"></p>
        </div>

        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="btn-group-vertical"> -->
        <button type="button" class="btn btn-outline-primary">Contrôle et Gestion de la Scolarité (CGQ)</button>
        <button type="button" class="btn btn-outline-primary">Nutrition Appliquée (NA)</button>
        <button type="button" class="btn btn-outline-primary">Maintenance et Gestion des Systèmes Frigorifiques et
          Thermiques (MAIN-GEFT)</button>
        <button type="button" class="btn btn-outline-primary">Sécurité et Management de l’Environnement (SIME)</button>
        <!-- </div>
      </div> -->
      </div>
    </div>

  </div>

</div>
