.iteme{
  padding: 5px;
  height: 150px;
  /* background-image: url("./../../../assets/images/pdfl.png"); */
}
.card{
  padding: 1px;
  margin: 10px;
  box-shadow: 0 .5rem .5rem rgba(0,0,0, .5) ;
  /* background: url(././../../../assets/images/backgr.png);
  background-size: 50px 50px;
  background-repeat: no-repeat; */
}
.mycol{
  padding: 5px;

}
 .imageheader{
  /* border: 1px solid #ddd;
  border-radius: 4px; */
  padding: 5px;
  width: 150px;
 }

 .mat-card-header{
   background-color: #eb7e25;
   height: 20px;
 }

 .text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
/* .btn {
  background-color: #eb7e25;
} */
