<div class="fixed-top">
  <div class="top-bar">
    <div class="container">
      <div class="col-12 text-right">
        <p><a href="#">University of Ngaoundere Admin</a></p>
      </div>
    </div>
  </div>

  <nav class="navbar bg-light navbar-light navbar-expand-lg">
    <div class="container">
        <a href="" class="navbar-brand"><img src="./../../../assets/images/logo.png" alt="logo"></a>

        <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse     navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a routerLink="/admin/adminMemoire" class="nav-link acive">Home</a></li>
          <li class="nav-item"><a routerLink="/admin" class="nav-link">Logout</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>
